body{
    text-align: center;
    padding: 20px;
   

}
header {
    background-color: rgb(14, 45, 129);
    -webkit-text-fill-color: aliceblue;

    
}
 footer{
    padding: 20px;
   background-color: rgb(80, 80, 255);
 }
